In [1]:
# scrap the table from webpage
import requests
from bs4 import BeautifulSoup
import pandas as pd
import json

In [2]:
company_name, company_symbol = [], []

In [3]:
# check response code is 200 to confirm whether request is successful.
url = "https://dailypik.com/top-50-companies-sp-500/?expand_article=1"
response = requests.get(url)
print(response.status_code) # check if it is 200

200

In [4]:
# Building the Parser Using Beautiful Soup
soup = BeautifulSoup(response.text, 'html.parser')
table = soup.find('table')
# acess rows
for tx in table.find_all('tbody'):
    rows = tx.find_all('tr')

In [6]:
rows[0:3]

[<tr><td>Apple Inc.</td><td>AAPL</td></tr>,
 <tr><td>Microsoft Corp.</td><td>MSFT</td></tr>,
 <tr><td>Amazon.com Inc.</td><td>AMZN</td></tr>]

In [7]:
# save company names and respective symbols
for row in rows:
    name = row.find_all('td')[0].text
    symbol = row.find_all('td')[1].text
    company_name.append(name)
    company_symbol.append(symbol)

In [8]:
# construct dataframe and save    
df = pd.DataFrame({'Name': company_name, 'Symbol': company_symbol})
#df.to_csv('SP50List.csv')
df.head()

                    Name Symbol
0             Apple Inc.   AAPL
1        Microsoft Corp.   MSFT
2        Amazon.com Inc.   AMZN
3           NVIDIA Corp.   NVDA
4  Alphabet Inc. Class A  GOOGL

In [9]:
df.shape

(49, 2)

In [ ]:
# OR save tabular data to json file
SnP50 = []
SnP50.append([{'Name': company_name,
              'Symbol': company_symbol}])

with open('SnP50_list_json', 'w') as json_file:
    json.dump(SnP50, json_file, indent=2)